{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": ["airbnb-base"], 
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
    },
    "plugins": [
        "import"
    ],
    "rules": {
        "indent": ["error", 4],
        "linebreak-style": 0,
        "semi": ["error", "always"],
        "max-len": ["error", 150]
    }
}