 --------------------------------------------------------------------------------------------------------
| create a .env file in project's root folder and put the below template in it and add respective values.|
 --------------------------------------------------------------------------------------------------------
ENVIRONMENT=
DB_NAME=
DB_USER=
DB_PASS=
DB_HOST=  #include the DB_PORT in this
DB_PORT=
SECRET_KEY=
APP_PORT=
APP_HOST=
SALT_ROUNDS=
REDIS_HOST=
REDIS_PORT=
REDIS_KEY=
